/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Quicksand:wght@500;600;700&family=Rubik&display=swap'); */
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/AppleSDGothicNeoM00-03.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('/fonts/AppleSDGothicNeoB00-07.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Osaka';
  src: url('/fonts/Osaka-01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFang Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFang Medium.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #595656;
  font-family: Osaka;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hover6:hover {
  transition: opacity .3s;
  opacity: 0.8;
}